<h1>New Game</h1>
<% @grid.each do |letter|%>
<h3><%= letter %></h3>
<% end %>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @grid %>
  What is the longest word you can find?<br>
  <input type="text" name="word" placeholder="Type your word">
  <input type="submit" value="Submit!">
</form>


